@use '~styles/mixins' as *;

.container {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.group {
	padding: 16px 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	font: var(--fw-medium) 24px var(--ff-first);
	background: #a1cbf1;
	border-radius: var(--radius);
	border: var(--border);
	cursor: pointer;

	@include md() {
		font-size: 20px;
	}

	@include sm() {
		font: var(--fw-medium) 16px var(--ff-second);
	}
	.students {
		display: flex;
		align-items: center;
		gap: 10px;
	}
}

