@use '~styles/mixins' as *;

.container {
	width: 60vw;
	// max-width: 1080px;
	height: 70vh;
	background-color: var(--white-color);
	overflow-y: scroll;

	&::-webkit-scrollbar {
		width: 0;
	}

	@include md() {
		width: 80vw;
	}

	@include sm() {
		width: 85vw;
	}
}

.header {
	height: 50px;
	position: relative;
	padding: 20px 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--bg-date-picker);
	border-bottom: var(--border);
}

.close_btn {
	padding: 16px 10px;
	position: absolute;
	right: 20px;
	width: 34px;
	height: 24px;
	display: grid;
	place-content: center;
	background-color: #fff;
	border-radius: 50%;
	outline: none;
	border: none;
	cursor: pointer;
}

.main {
	padding: 30px;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 30px;

	// display: grid;
	// grid-template-columns: repeat(1, 347px);
	// place-content: center;
	// gap: 20px;
	// grid-template-areas:
	// 	'trainer'
	// 	'place'
	// 	'time'
	// 	'textarea'
	// 	'submit';
}

.trainer {
	grid-area: trainer;
	width: 347px;

	@include md() {
		width: 100%;

		span {
			font-size: 18px;
		}
	}
}

.place {
	grid-area: place;
	width: 347px;

	@include md() {
		width: 100%;

		span {
			font-size: 18px;
		}
	}
}

.time {
	grid-area: time;
	// width: 50%;
	width: 250px;
	margin: 0 auto;

	@include sm() {
		width: 100%;
	}

	& > div {
		cursor: pointer;
		border: var(--border);
		border-radius: var(--radius-btn);
	}
	& div {
		padding: 5px 10px;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 24px;
	}
}

.textarea {
	margin-top: 30px;
	grid-area: textarea;
	padding: 20px;
	width: 100%;
	height: 30%;
	min-height: 150px;
	font: var(--fw-medium) var(--fz-text) var(--ff-first);
	border: var(--border);
	border-radius: var(--radius-btn);
	resize: none;
	outline: none;
}

.submit {
	grid-area: submit;
}
