@use '~styles/mixins' as *;

.container {
	padding: 30px;
	width: 100%;
}
// .header {
// 	border-bottom: var(--border);
// 	margin-bottom: 36px;
// }

.main {
	position: relative;
	display: grid;
	grid-template-columns: repeat(1, 347px);
	place-content: center;
	gap: 20px;
	grid-template-areas:
		'trainer'
		'place'
		'time'
		'textarea'
		'submit';

	.trainer {
		grid-area: trainer;
	}

	.place {
		grid-area: place;
	}

	.time {
		grid-area: time;
	}

	.textarea {
		grid-area: textarea;
		margin-top: 20px;
		padding: 20px;
		width: 100%;
		height: 30%;
		min-height: 150px;
		font: var(--fw-medium) var(--fz-text) var(--ff-first);
		border: var(--border);
		border-radius: var(--radius-btn);
		resize: none;
		outline: none;
	}

	.submit {
		grid-area: submit;
	}
}
