.h1 {
  font-family: var(--ff-first);
  font-size: var(--fz-main-heading);
  font-weight: var(--fw-regular);

  @media (max-width: 375px) {
    font-size: var(--fz-btn);
  }
}

.h2 {
  font-family: var(--ff-second);
  font-size: var(--fz-btn);
  font-weight: var(--fw-regular);
}

.heading {
  margin-bottom: 45px;
}
