.container {
	display: flex;
	flex-direction: column;
	max-width: 470px;
	margin: auto;
	height: 100%;
}

.header {
	font-family: Roboto;
	font-size: 40px;
	font-weight: 400;
	line-height: 47px;
	letter-spacing: 0em;
	text-align: center;
	margin-bottom: 42px;
}

.form {
	display: flex;
	flex-direction: column;
	color: #2b2d91;
	font-family: Rubik;
	font-size: 14px;
	font-weight: 400;
}

.forget_password {
	text-align: end;
	margin-bottom: 28px;
}

.link {
	color: #2b2d91;
	font-family: 'Rubik';
	font-size: 14px;
}

.btn_container {
	margin-top: 30px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
}

@media (max-width: 425px) {
	.container {
		width: 100%;
	}

	.header {
		width: 100%;
		font-size: 24px;
		font-weight: 500;
		margin-bottom: 10px;
	}

	.form {
		font-size: 12px;
	}

	.link {
		font-size: 12px;
	}
}
