@use '../../../app/styles/mixins' as *;
.sidebar {
	width: 297px;
}

.sidebar_link {
	display: flex;
	gap: 12px;
	padding: 10px 12px;
	margin-bottom: 15px;
}

.help {
	margin-top: 20px;
	span {
		color: #989898;
	}
}

.exit span {
	color: #2b2d91;
}

.link_icon {
	width: 20px;
	height: 20px;
}


@include lg {
	.sidebar {
		display: none;
	}
	
}