@use '~styles/mixins' as *;

.buttons_container {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-areas: 'trainer . edit';
	gap: 20px;
	place-content: end;

	@include xl() {
		grid-template-columns: repeat(2, 1fr);
		grid-template-areas: 'trainer edit';
	}

	@include sm() {
		grid-template-columns: 1fr;
		grid-template-areas:
			'trainer'
			'edit';
	}
}

button {
	max-height: 57px;
}

.trainer {
	grid-area: trainer;
}

.edit_btn {
	grid-area: edit;
}

.modal {
	padding-right: 10px;
}