.nav::before,
.nav::after {
	content: '';
	display: block;
	width: 225px;
	height: 2px;
	background-color: #0e1079;

	@media (max-width: 425px) {
		width: 44px;
	}
}

.nav {
	@media (max-width: 425px) {
		display: flex;
		flex-direction: column;
		gap: 30px;
		align-items: center;
	}
}

.dropdown_wrap {
	width: 225px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.dropdown {
	padding: 25px 0;
	display: block;
	font-family: var(--ff-first);
	font-weight: var(--medium);
	font-size: 20px;
	text-transform: uppercase;
}

.arrow_active {
	transform: rotate(0.5turn);
	cursor: pointer;
}

.arrow {
	cursor: pointer;
}

.menu {
	display: flex;
	flex-direction: column;
	gap: 30px;
	height: 0;
	overflow: hidden;
}

.active {
	height: 100%;
}

.item:nth-last-child(1) {
	margin-bottom: 30px;
}

.link {
	margin-left: 15px;
	padding-bottom: 5px;
	font-family: var(--ff-first);
	font-weight: var(--medium);
	font-size: 20px;
	border-bottom: 2px solid transparent;
	transition: all 0.3s linear;

	&:hover {
		border-bottom: 2px solid #0e1079;
	}
}

.mobile_list {
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.role {
	font: var(--fw-regular) 12px var(--ff-second);
	text-transform: uppercase;
}
