@use '~styles/mixins' as *;

.wrapper {
	position: relative;
}

.sidebar {
	width: 297px;

	@include md() {
		border-radius: 12px;
		width: 92px;
		position: fixed;
		top: 74px;
		left: -90px;
		padding: 20px;
		background-color: hsla(198, 62%, 93%, 0.76);
		backdrop-filter: blur(6px);
		z-index: 99;
		transition: left 0.5s ease-in-out;
	}
}

.sidebar_open {
	width: 92px;
	height: fit-content;
	padding: 20px;
	position: fixed;
	top: 74px;
	left: 0px;
	border-radius: 12px;
	background-color: hsla(198, 62%, 93%, 0.76);
	backdrop-filter: blur(6px);
	z-index: 99;
	transition: left 0.5s ease-in-out;
}

.arrow_svg {
	fill: #fff;
}

.arrow_open,
.arrow_close {
	position: absolute;
	top: 30px;
	left: 82px;
	width: 28px;
	height: 28px;
	display: grid;
	place-content: center;
	background-color: #0e1079;
	border-radius: 8px;
	cursor: pointer;
	border: none;
	outline: none;
	z-index: 199;
	transition: left 0.5s ease-in-out;
}
.arrow_open {
	animation: sidebar_open 0.5s ease-in-out;
	transform: rotate(-90deg);
}
.arrow_close {
	transform: rotate(90deg);
	animation: sidebar_close 0.5s ease-in-out;
}

@keyframes sidebar_open {
	from {
		transform: rotate(90deg);
	}

	to {
		transform: rotate(-90deg);
	}
}

@keyframes sidebar_close {
	from {
		transform: rotate(-90deg);
	}
	to {
		transform: rotate(90deg);
	}
}

.sidebar_btn {
	display: flex;
	gap: 12px;
	padding: 10px 12px;
	margin-bottom: 15px;
	cursor: pointer;

	@include md() {
		margin-bottom: 10px;
	}
}

.help {
	margin-top: 20px;
	span {
		color: #989898;
	}
}

.exit span {
	color: #2b2d91;
}

.link_icon {
	width: 20px;
	height: 20px;
}
