.modal {
	height: 100vh;
	width: 100vw;
	position: fixed;
	top: 0;
	left: 0;
	display: grid;
	place-content: center;
	background-color: rgba(0, 0, 0, 0.6);
	z-index: 100;
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.4s ease-in-out;
}

.active {
	opacity: 1;
	pointer-events: all;
}

.modal_content {
	height: 50vh;
	padding-bottom: 20px;
	border: var(--border);
	border-radius: var(--radius);
	background-color: #fff;
	overflow-y: scroll;

	/* убрать полностью скроллбар*/
	&::-webkit-scrollbar {
		width: 0;
	}
}
