@use '../../../app/styles/mixins' as *;

.container {
	width: 100%;
	max-width: 714px;

	padding: 31px 30px;

	display: flex;
	flex-direction: column;

	border: var(--border);
	border-radius: var(--radius);

	background-color: #e1f1f8;
}
.title {
	font-family: var(--ff-first);
	font-weight: var(--fw-medium);
	margin-bottom: 20px;
}

.notifications {
	height: 100%;

	display: flex;
	flex-direction: column;
	gap: 10px;
}

.notification_item {
	display: flex;
	align-items: center;
	padding-top: 40px;
	border-top: var(--border);
	&_text {
		font-family: var(--ff-first);
		font-size: var(--fz-text);
	}
	&:first-child {
		border-top: none;
	}
}

.button {
	margin-left: auto;
	font-size: 20px;
	background-color: white;
}
.container > .button {
	margin-top: 80px;
}

.textarea {
	@include font(var(--ff-second), 12px, 400);
	padding: 17px;
	resize: none;
	border: var(--border);
	border-radius: 16px;
}
.cont_bottom_decor {
	display: none;
}
@media(max-width: 425px) {


.container {
	width: 100%;
	padding: 10px 0px;
	text-align: center;
}
.title  {
	display: none;
}
.notifications {
	width: 100%;
}
.notification_item {
	padding-left:  16px;
	padding-right:  16px;
	flex-direction: column;
	&_text {
		font-size: 14px;
	}
	&:first-child {
		border-top: var(--border);
		margin-top: 10px;
	}
}
.button {
	width: 90px;
	height: 24px;
	font-size: 14px;
}
.cont_bottom_decor {
	width: 100%;
	height: 1.5px;
	border-top: var(--border);
	display: block;
	margin-top: 10px;
	margin-bottom: 10px;
}
}