@use '~styles/mixins' as *;

.btn_wrap {
	width: 100%;
	display: flex;
	justify-content: space-between;
	gap: 20px;

	@include xl() {
		max-width: 347px;
		margin-right: auto;
		flex-direction: column;
	}
}
