.calendar {
	width: 347px;
	height: 347px;
	padding: 20px;
	background-color: #ffffff;
	border: solid #0e1079 1.5px;
	border-radius: 20px;
	box-shadow: 8px 3px 22px 10px #9696961c;
	user-select: none;
}

.calendar_header {
	height: 25px;
	display: flex;
	justify-content: space-between;
	font-family: 'Rubik';
	font-size: 14px;
	font-weight: 600;
	text-align: center;
}

.calendar_header_date {
	display: flex;
	flex-grow: 1;
	align-items: center;
	text-transform: uppercase;
	color: #0e1079;
	padding: 0 20px;
	cursor: pointer;
}

.calendar_header_date_btn_container {
	width: 56px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.calendar_header_date_btn {
	cursor: pointer;
	padding: 5px;
	display: flex;
	align-items: center;
}

.calendar_body {
	margin-top: 10px;
}

.calendar_body_day_name_container {
	border-top: solid #e4e5e7 1.5px;
	padding: 15px 0;
}

.calendar_body_day_name_container,
.calendar_body_day_container {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	gap: 16px;
}

.calendar_body_day_name {
	font-family: 'Rubik';
	font-size: 14px;
	font-weight: 500;
	text-align: center;
}

.calendar_body_day {
	cursor: pointer;
	width: 24px;
	height: 24px;
	font-family: 'Rubik';
	font-size: 14px;
	font-weight: 500;
	display: flex;
	justify-content: center;
	align-items: center;
}

.calendar_body_day[data-active='true'] {
	color: #c4e5f1;
	background-color: #2b2d91;
	border-radius: 40px;
}
.arrow_right {
	rotate: 180deg;
}
@media(max-width: 425px) {
	.calendar {
		width: 335px;
	}
}