.app {
	width: 100%;
	max-width: 1448px;
	min-height: 100vh;

	margin: 0 auto;
	padding: 0 20px;

	display: flex;
	flex-direction: column;

	.page_container {
		margin-bottom: 100px;
		display: flex;
		justify-content: space-between;

		.page {
			width: 100%;
			max-width: 1081px;
		}
	}
}
