@use '~styles/mixins' as *; 

.container {
	width: 100%;
	max-width: 1448px;
	min-height: 100vh;
	margin: 0 auto;
	padding: 0 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	.app {
		display: flex;
		margin-bottom: 40px;
		.page {
			width: 100%;
			max-width: 1081px;
		}
	}
}
