### Key that will be used to sign the JWT tokens ###
SECRET_KEY=
REFRESH_SECRET_KEY=

### With the algorithm used to sign the JWT token ###
ALGORITHM=

### Variable for the expiration of the token ###
ACCESS_TOKEN_EXPIRE_MINUTES=
REFRESH_TOKEN_EXPIRE_MINUTES=

POSTGRES_DB_NAME=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=
POSTGRES_PORT=


SMTP_PASSWORD=
SMTP_USER=
SMTP_HOST=
SMTP_PORT=