### Python ###
.idea/
backend/.idea/

### Byte-compiled / optimized / DLL files ###
__pycache__/
*/__pycache__/*

### Virual enviroment
backend/.env
#.env
Pipfile.lock

### Migrations ###
# backend/migrations/

### PG Data ###

/pgdata

### Other ###
app.log
