.input_container {
	width: 714px;
	padding: 0 30px;
	display: flex;
	align-items: center;
	gap: 10px;
	justify-content: space-between;
	flex-wrap: wrap;
	border: var(--border);
	border-radius: var(--radius);
	background: #dae8f0;
}
.btn_cont {
	margin-top: 20px;
	margin-bottom: 20px;
	display: flex;
	justify-content: end;
	flex-direction: row;
	width: inherit;
}


