@use '~styles/mixins' as *;

.section {
	width: 65%;
	display: flex;
	flex-direction: column;
	gap: 10px;

	&::after {
		content: '';
		width: 100%;
		height: 1px;
		background-color: #989898;
	}
	@include md() {
		width: 90%;
	}
	@include sm() {
		width: 100%;
	}
}

.wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 50px;
	font: var(--fw-medium) 16px var(--ff-first);
}

.btn {
	padding: 8px;
	width: 135px;
	display: flex;
	place-content: center;
	gap: 10px;
	background-color: var(--bg-date-picker);
	border: var(--border);
	border-radius: 8px;
	cursor: pointer;

	span {
		color: var(--accent-color);
		font: var(--fw-regular) 18px var(--ff-first);
	}
}
