@use '~styles/mixins' as *;

.container {
	position: relative;
	display: grid;
	gap: 5px;
	@include sm() {
		font-size: inherit;
	}
}

.label {
	font-family: 'Rubik';
	font-weight: 400;
	font-size: 14px;
	color: #2b2d91;
}

.input {
	font-family: 'Rubik';
	font-weight: 400;
	font-size: 18px;
	width: 470px;
	padding: 12px 8px;
	border-radius: 10px;
	border: var(--border);
	background-color: white;
	outline: none;
	@include sm() {
		width: 100%;
	}
}
