@use '~styles/mixins' as *;

.profile_container {
	display: flex;
	flex-direction: column;
	gap: var(--gap);
}

.avatar {
	width: 100%;
	aspect-ratio: 1 / 1;
	border-radius: var(--radius);
	border: var(--border);
}

.name_container {
	width: 100%;
	border: var(--border);
	border-radius: 13px;
	padding: 10px;
	background-color: #e1f1f8;
	
	.name {
		margin: auto;
		width: min-content;
		font: var(--fw-medium) 20px var(--ff-first);
		text-align: center;
	}
}
