.input_container {
	width: 100%;
	max-width: 714px;
	padding: 20px;
	border: var(--border);
	border-radius: var(--radius);
	background: #dae8f0;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: var(--gap);
}
.btn {
	height: 49px;
	margin-left: auto;
	padding: 13px 24px;
	border-radius: 10px;
}


