
.effective_table_met_main_cont {
   display: flex;
}
.effective_table_met_base_cont {
    display: flex;
    gap: 20px 20px;
    flex-wrap: wrap;
    margin-right: 140px;
    
}

.effective_table_met_header_base_cont {
    margin-left: 142px;
}

.effective_table_cont {
    width: 1081px;
    height: 506px;
    display: flex;
    text-align: center;
    vertical-align:text-top;
}

.effective_table_first_column {
    width: 102px;
    height: 489px;
    border: solid black 1px;
    
}
.effective_table_second_column {
    width: 211px;
    height:  489px;
    border: solid black 1px;
    border-left: none;
}
.effective_table_third_column {
    width: 229px;
    height: 489px;
    border: solid black 1px;
    border-left: none;
}
.effective_table_fourth_column {
    width: 266px;
    height: 489px;
    border: solid black 1px;
    border-left: none;
}
.effective_table_fifth_column {
    width: 103px;
    height: 489px;
    border: solid black 1px;
    border-left: none;
}
.effective_table_sixth_column {
    width: 175px;
    height: 489px;
    border: solid black 1px;
    border-left: none;
}

.effective_table_google_doc_link_cont {
    width: 1081px;
    text-align: right;
}
.effective_table_download_btn_cont {
    width: 1081px;
    text-align: right;
}
.effective_table_download_btn, .effective_table_google_doc_link {
    width:  347px;
    height:  57px;
    padding: 15.5px 28px 15.5px 28px;
    border-radius: 20px;
    border: solid #2B2D91 1.5px;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    color: #2B2D91;
    background-color: white;
}
.effective_table_head {
    height: 100px;
    border-bottom: solid black 1.5px;
    
}

.effective_table_third_column_part:nth-child(n + 2) {
    height: calc((100% - 100px) / 2);
    border-bottom: solid black 1.5px;
}
.effective_table_fourth_column_part:nth-child(n + 2) {
    height: calc((100% - 100px) / 2);
    border-bottom: solid black 1.5px;
} 
.effective_table_fifth_column_part:nth-child(n + 2) {
    height: calc((100% - 100px) / 2);
    border-bottom: solid black 1.5px;
} 


