.container {
	width: 100%;
	padding: 22px 10px;
	display: flex;
	flex-direction: column;
	border: var(--border);
	border-radius: var(--radius);
	background-color: #e1f1f8;
}

.container_separate {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.title {
	font: var(--fw-medium) var(--fz-text) var(--ff-first);
	text-align: center;
	margin-bottom: 20px;
}

.notifications {
	height: 100%;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

// .wrapper {
// 	border: var(--border);
// 	border-radius: var(--radius);
// 	overflow: hidden;

// 	.notifications {
// 		padding: 10px 5px;
// 	}
// }

// .notification_wrapper {
// 	&::before,
// 	&::after {
// 		content: '';
// 		display: block;
// 		width: 100%;
// 		height: 22px;
// 		background-color: var(--btn-bg-hover);
// 	}
// }
