.sidebar_container {
    width: 225px;
    /* height: 299px;
    margin-left: 140px; */
}

.sidebar_accaunt_container {
    display: flex;
    margin: 24px 0 24px 0;
}

.sidebar_accaunt_avatar {
    width: 44px;
    height: 44px;
    border-radius: 37px;
    margin-right: 12px;
}

.sidebar_accaunt_description span {
    display: block;
}

.sidebar_accaunt_profession {
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.sidebar_accaunt_name {
    font-family: 'Rubik';
    font-size: 22px;
    font-weight: 400;
}

.sidebar_decor_line {
    width: 225px;
    height: 2px;
    border-radius: 2px;
    background-color: #2b2d91;
}

.sidebar_navigation {
}

.sidebar_navigation_options {
    width: 225px;
    height: 24px;
    margin: 24px 0 24px 0;
    padding-left: 10px;
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: 700;
    border: none;
    background-color: inherit;
}

.sidebar_navigation_item {
}

.sidebar_links_container {
    overflow: hidden;
    gap: 8px;
}

.sidebar_link {
    display: flex;
    gap: 12px;
    padding: 10px 12px;
    margin-bottom: 15px;
    overflow: hidden;
    position: relative;
    left: 0;
    color: #2b2d91;
    transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4);
}

.sidebar_link:hover {
    left: -35px;
}

.sidebar_link_help {
    margin-top: 20px;
}

.sidebar_link_help span {
    color: #989898;
}

.sidebar_link_exit span {
    color: #2b2d91;
}

.sidebar_link_icon {
    position: relative;
    left: 0;
    width: 20px;
    height: 20px;
    transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4);
}

.sidebar_link_text {
}
