@use '~styles/mixins' as *;

.container {
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.group {
	@include font(var(--ff-first), 24px, 500);
	cursor: pointer;
	width: 714px;
	height: 57px;
	background: #a1cbf1;
	border-radius: var(--radius);
	border: var(--border);
	display: flex;
	align-items: center;
	justify-content: center;
}
