
.notifications_trainer_main_cont {
   display: flex;
}
.notifications_trainer_base_cont {
    display: flex;
    gap: 20px 20px;
    flex-wrap: wrap;
    margin-right: 140px;
}

.notifications_trainer_header_base_cont {
    margin-left: 142px;
}
.notifications_trainer_cont {
    width: 714px;
    padding: 31px 30px 0px 30px;
    background-color: #E1F1F8;
    border: 1.5px solid #2B2D91;
    border-radius: 20px;
}
.notifications_trainer_header {
    font-family: Roboto;
    font-size: 24px;
    font-weight: 500;
    text-align: left;
    margin-bottom: 62px;
}
.notifications_trainer_item {
    display: flex;
    border-bottom: solid #0E1079 1px;
    justify-content: space-between;
    padding-bottom: 13px;
    margin-bottom: 62px;
}
.notifications_trainer_item:last-child {
    margin-bottom: 0px;
}
.notifications_trainer_description {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    text-align: left;
}
.notifications_trainer_open_link {
    padding: 15.5px 28px 15.5px 28px;
    border-radius: 20px ;
    border: 1px solid #2B2D91;
    background-color: white;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    color: #2B2D91;
}