@use '~styles/mixins' as *; 

 
.card_wrapper {
	display: flex;
	flex-direction: column;
}
.card {
	display: flex;
	gap: 20px;
	max-height: 138px;
	&_img {
		height: 100%;
		max-height: inherit;
		aspect-ratio: 1;
		object-fit: cover;
		border-right: var(--border);
		border-radius: var(--radius);
	}
	&_show {
		max-height: calc(138px + 30px);
		align-items: center;
		text-align: center;
	}
	&_content {
		padding: 12px 12px 12px 0;
		display: flex;
		flex-direction: column;
	}
	&_name {
	}
	&_btn {
		margin-top: auto;
		text-align: end;
		&:hover {
			cursor: pointer;
		}
	}
}
.card_description {
	border-top: var(--border);
	width: 100%;
	cursor: pointer;
}
