@use '~styles/mixins' as *;

.card {
	padding: 18px 10px;
	display: flex;
	flex-direction: column;
	border: var(--border);
	border-radius: var(--radius);
	background-color: var(--bg-card);
	overflow: hidden;

	.title {
		font: var(--fw-medium) var(--fz-btn) var(--ff-first);
		padding: 0 30px;
		text-align: center;

		@include md() {
			padding: 0 20px;
		}

		@include sm() {
			padding: 10px;
		}
	}

	.content {
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: 24px;
	}

	@include md() {
		.title {
			font-size: 20px;
		}
	}

	@include sm() {
		height: 100%;
		align-items: center;

		.title {
			font: var(--fw-semibold) 16px (var(--ff-second));
		}
	}
}
