@use '~styles/mixins' as *;

.card {
	padding: 18px 10px;
	display: flex;
	flex-direction: column;
	border: var(--border);
	border-radius: var(--radius);
	background-color: var(--bg-card);
	overflow: hidden;

	.title {
		@include font(var(--ff-second), 24px, 400);
		padding: 0 30px;
		text-align: center;
	}

	.content {
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	@include sm() {
		height: 100%;
		align-items: center;
		justify-content: center;
		.title {
			@include font(var(--ff-second), 16px, 600);
		}
	}
}
