.header {
	border-bottom: var(--border);
}

.component {
	min-width: 1078px;
}

.header {
	margin-bottom: 36px;
}


.main {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 30px;
}


