.header_page_container {
	margin-bottom: 45px;
}

.header_page {
	font-family: 'Roboto';
	font-size: 48px;
	font-weight: 400;
}

.body_page_container {
	display: flex;
	gap: 20px 20px;
	flex-wrap: wrap;
	margin-right: 140px;
}
