.header_page_container {
	margin-bottom: 45px;
}

.header_page {
	font-family: 'Roboto';
	font-size: 48px;
	font-weight: 400;
}

.body_page_container {
	max-width: 1081px;
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
}
