@use '~styles/mixins' as *;

.rewart_trio {
	background-image: url('~assets/card.background/trio_animals.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-position-y: 80%;
}

@include md() {
	.rewart_trio {
		order: -1;
		width: 100%;
		height: 156px;
		background-image: url('~assets/card.background/reward_mob_animal.svg');
		background-size: 155px 138px;
		background-position-x: 100%;
	}
}