.rewart_trio {
	background-image: url('../../shared/assets/card.background/trio_animals.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-position-y: 80%;
}

@media (max-width: 425px) {
	.rewart_trio {
		order: -1;
		width: 100%;
	}
}