@use '~styles/mixins' as *; 

 
 
.reward_img {
	background-image: url('~assets/card.background/reward_animal.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-position-x: 55%;
}
.train_text {
	@include font(var(--ff-first), 24px, 500);
	text-align: center;
}

.schedule_container {
	width: 100%;
	height: 100%;
	padding-top: 40%;
	display: flex;
	flex-direction: column;
	gap: var(--gap);
	overflow: hidden;
	.shedule_item {
		@include font(var(--ff-second), 22px, 400);
		.shedule_item_time {
			@include font(var(--ff-first), 24px, 500);
		}
	}
}
