@use '../../app/styles/mixins' as *;
.reward_img {
	background-image: url('../../shared/assets/card.background/reward_animal.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-position-x: 55%;
}
.train_text {
	@include font(var(--ff-first), 24px, 500);
	text-align: center;
}

.schedule_container {
	width: 100%;
	height: 100%;
	padding-top: 40%;
	display: flex;
	flex-direction: column;
	gap: var(--gap);
	overflow: hidden;
	.shedule_item {
		@include font(var(--ff-second), 22px, 400);
		.shedule_item_time {
			@include font(var(--ff-first), 24px, 500);
		}
	}
}

@media (max-width: 425px) {

.reward_img {
	background-position-y: 85%;
	background-size: 44px 66px;
}
.card_cont {
	max-width: 162px;
	height: 120px;
}
.train_text {
	display: none;
}
	
.schedule_container {
	display: none;
}
.btn {
	color: black;
	font-size: 16px;
	background-color: #e1f1f8;
}
}