@use '~styles/mixins' as *;
.card {
	width: 100%;
	max-width: 958px;

	padding: 30px;

	display: flex;
	justify-content: space-between;

	border: var(--border);
	border-radius: var(--radius);
	background-color: #dae8f0;

	.info {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: var(--gap);
	}
	.name {
		@include font(var(--ff-second), 22px, 500);
	}

	.trainer,
	.combination {
		@include font(var(--ff-second), 24px, 400);
		.trainer_title,
		.combination_title {
			margin-right: 5px;
			font-weight: 500;
		}
	}
}

.date {
	@include font(var(--ff-first), 24px, 500);
}
