@use '~styles/mixins' as *; 

 
.container {
	display: flex;
	align-items: center;
}
.checkbox {
	width: 28px;
	height: 28px;
	margin-right: 20px;
	outline: none;
}
.label {
	font-family: Rubik;
	font-size: 12px;
	font-weight: 400;
	color: #0e1079;
	width: 100%;
}

.politic_link {
	font-family: Rubik;
	font-size: 14px;
	font-weight: 500;
	color: inherit;
}
