@use '~styles/mixins' as *;

.container {
	width: 100%;
	display: grid;
	gap: var(--gap);
	grid-template-columns: 35% 65%;
	grid-template-areas:
		'student name'
		'student info'
		'button info';

	@include md() {
		grid-template-areas:
			'student info'
			'name info'
			'button info';
	}

	@include sm() {
		grid-template-columns: 40% 60%;
		grid-template-areas:
			'student name'
			'student button'
			'info info';
	}
}

.student {
	grid-area: student;
	display: flex;
	flex-direction: column;
	gap: var(--gap);
}

.avatar {
	width: 100%;
	aspect-ratio: 1 / 1;
	border: var(--border);
	border-radius: 10px;
	object-fit: cover;
}

.btn_edit {
	grid-area: button;

	@include sm() {
		padding: 10px;
		font-size: 16px;
	}
}

.name {
	grid-area: name;
	padding: 10px;
	max-height: 57px;
	display: grid;
	place-content: center;
	font: var(--fw-medium) 24px var(--ff-second);
	border: var(--border);
	border-radius: 13px;

	@include md() {
		font-size: 16px;
	}

	@include sm() {
		font-size: 12px;
	}
}

.info {
	grid-area: info;
}
