@use '~styles/mixins' as *;

.container {
	width: 100%;
	display: grid;
	grid-template-columns: 35% 65%;
	grid-template-areas: 'student name' 'student info' '. info';
	gap: var(--gap);
}

.student {
	grid-area: student;
	display: flex;
	flex-direction: column;
	gap: var(--gap);
}

.avatar {
	width: 100%;
	height: 340px;
	border: var(--border);
	border-radius: 10px;
	object-fit: cover;
}

.name {
	padding: 10px;
	max-height: 57px;
	grid-area: name;
	display: grid;
	place-content: center;
	font: var(--fw-medium) 24px var(--ff-first);
	border: var(--border);
	border-radius: 13px;
}

.info {
	grid-area: info;
}

// .button_wrapper {
// 	display: flex;
// 	flex-direction: column;
// 	gap: var(--gap);
// 	width: fit-content;
// 	margin-left: auto;
// }
