.dropdown {
	width: 347px;
	height: fit-content;
	background-color: var(--bg-card-second);
	border: var(--border);
	border-radius: var(--radius);
}

.small_arrow {
	transform: rotate(-90deg);
}

.dropdown_button {
	margin: auto;
	padding: 16px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 30px;
	background-color: transparent;
	border: none;
	outline: none;
	cursor: pointer;

	span {
		font: var(--fw-medium) var(--fz-text) var(--ff-first);
	}
}

.dropdown_list {
	height: 0;
	overflow: hidden;
}

.active {
	height: 100%;
}

.list_item {
	display: flex;
	justify-content: space-between;
	padding: 10px 22px;

	span {
		font: var(--fw-regular) var(--fz-text) var(--ff-second);
	}
}
.checkbox {
	width: 28px;
	height: 28px;
	border: 1.5px solid #252525;
}
