@use '~styles/mixins' as *;

.btn {
	padding: var(--btn-padding) 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: var(--fz-btn);
	font-weight: var(--medium);
	font-family: var(--ff-first);
	border: var(--border);
	border-radius: var(--radius);
	cursor: pointer;
	transition: all 0.3s ease-in-out;

	@include md() {
		font-size: var(--fz-mob-btn);
	}
}

.dark {
	background-color: var(--accent-color);
	color: var(--bg-card);

	&:hover {
		background-color: transparent;
		color: var(--accent-color);
	}
}

.light {
	background-color: transparent;
	color: var(--accent-color);

	&:hover {
		background-color: var(--accent-color);
		color: var(--bg-card);
	}
}
