@use '../../app/styles/mixins' as *;

.table {
	width: 714px;
	height: fit-content;
	border: var(--border);
	border-radius: var(--radius);
	&_row {
		@include font(var(--ff-second), 24px, 400);
		height: 57px;
		display: grid;
		grid-template-columns: 1fr 10fr;
		border-bottom: var(--border);
		&:last-child {
			border-bottom: none;
		}
	}

	&_col {
		display: flex;
		align-items: center;
		justify-content: center;
		&:first-child {
			width: 102px;
			border-right: var(--border);
		}
	}
}
