@mixin font($ff, $fs, $fw) {
	font-family: $ff;
	font-weight: $fw;
	font-size: $fs;
}

@mixin sm() {
	@media (max-width: 375px) {
		@content;
	}
}

@mixin md() {
	@media (max-width: 768px) {
		@content;
	}
}

@mixin lg() {
	@media (max-width: 1440px) {
		@content;
	}
}

@mixin xl() {
	@media (max-width: 1920px) {
		@content;
	}
}
