@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Medium.ttf');
}

@font-face {
	font-family: 'Rubik';
	src: url('../fonts/Rubik-VariableFont_wght.ttf');
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
	color: var(--main-color);
}

ul,
li {
	list-style-type: none;
}

body {
	font-family: 'Roboto', sans-serif;
	background: var(--dark-gradient) fixed;
}

#portal {
	position: fixed;
	top: 3%;
	left: 50%;
	transform: translateX(-50%);
}
