
.input_text {
	height: 41px;
	width: 654px;
	font-family: Roboto;
	font-size: 24px;
	font-weight: 500;
	border: var(--border);
	border-radius: var(--radius);
	background-color: white;
	padding-left: 30px;
	background-image: url( '../../../../shared/assets/svg/search.svg');
	background-repeat: no-repeat;
	background-position: 99% 50%;
	background-size: 36px 36px;
}