@use '~styles/mixins' as *;

.datepicker {
	min-width: 100%;
	border: var(--border);
	border-radius: var(--radius);
	overflow: hidden;
}

.grid_wrap {

	font: var(--fw-regular) var(--fz-text) var(--ff-second);
	border-bottom-right-radius: var(--radius);
	border-bottom-left-radius: var(--radius);
	background-color: var(--white-color);

	@include lg() {
		display: grid;
		grid-template-columns: 48px 1fr;
	}
}
