.container {
	width: 714px;
	height: fit-content;

	padding: 31px 30px 31px 30px;

	display: flex;
	flex-direction: column;

	border: var(--border);
	border-radius: var(--radius);

	background-color: #e1f1f8;
}
.title {
	font-family: var(--ff-first);
	font-weight: var(--fw-medium);
	margin-bottom: 62px;
}

.notifications {
	display: flex;
	flex-direction: column;
	gap: 40px;
	height: 100%;
}

.notification_item {
	display: flex;
	align-items: center;
	padding-bottom: 12px;
	border-bottom: var(--border);
	&_text {
		font-family: var(--ff-first);
		font-size: var(--fz-text);
	}
}

.button {
	margin-left: auto;
	font-size: 20px;
	background-color: white;
}
.container > .button {
	margin-top: 80px;
}
