@use '~styles/mixins' as *;

.grid {
	display: grid;
	grid-template-columns: repeat(7, 1fr);

	@include lg() {
		grid-template-columns: repeat(2, 1fr);
	}
}

.days {
	min-height: 35vh;
	grid-template-rows: repeat(2, 1fr);

	@include xl() {
		min-height: 25vh;
	}

	@include lg() {
		min-height: auto;
		grid-template-rows: repeat(7, 154px);
	}

	@include sm {
		grid-template-rows: repeat(7, 120px);
	}
}

.day {
	position: relative;
	padding: 12px;
	z-index: 99;

	&:nth-child(n) {
		border-right: var(--border);
		border-bottom: var(--border);
	}

	&:nth-child(7),
	&:last-child {
		border-right: none;
	}

	&:nth-child(n + 8) {
		border-bottom: none;
	}

	&:hover {
		.add_btn {
			display: block;
		}
	}

	@include lg() {
		border-top: var(--border);
		border-bottom: none;

		&:nth-child(n) {
			border-right: var(--border);
			border-bottom: none;
		}

		&:nth-child(2n + 2) {
			border-right: none;
		}

		&:nth-child(7) {
			border-right: var(--border);
		}
	}
}

.active {
	position: absolute;
	inset: 0;
	display: flex;
	flex-direction: column;
	gap: 8px;
	background-color: var(--bg-card);
	font: var(--fw-regular) 13px var(--ff-second);
	z-index: -1;

	.schedule {
		text-align: center;
		margin-top: 25%;
		padding: 5px;
		display: flex;
		flex-direction: column;
		overflow: scroll;
		scrollbar-width: none;
		gap: 5px;
	}
}

.time {
	display: inline-block;
	margin-right: 5px;
}

.add_btn {
	display: none;
	background-color: var(--bg-card);
	position: absolute;
	width: 100%;
	height: 100%;
	inset: 0;
	z-index: -1;
}
