@use '~styles/mixins' as *;

.container {
	width: 100%;
	max-width: 714px;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.header,
.list_item {
	height: 57px;
	display: flex;
	align-items: center;
	border: var(--border);
	border-radius: var(--radius);
	margin-bottom: 5px
}

.header {
	@include font(var(--ff-second), 24px, 400);
	background-color: #a1cbf1;
	justify-content: center;
}

.list {
	display: flex;
	flex-direction: column;
	gap: 5px;
	&_item {
		padding: 15px 30px;
		justify-content: space-between;
		background-color: #dae8f0;
		&_title {
			@include font(var(--ff-second), 24px, 400);
		}
		&_checkbox {
			width: 36px;
			height: 36px;
			border: solid #0e1079 2px;
			border-radius: 6px;
			-webkit-appearance: none;
			-moz-appearance: none;
		}
	}
}
@include sm() { 
	.header {
		font-size: 14px;
	}
	.list {
		 &_item_title {
			@include font(var(--ff-second), 16px, 400);
		 }
		}
	}

