.user_card {
    position: relative;
    display: flex;
    width: 347px;
    height: 138px;
    padding: 10px, 20px, 10px, 20px;
    border-radius: 20px;
    border: 2px solid #0e1079;
    background-color: #e1f1f8;
}

.user_card_img {
    background-image: url(../../assets/img/methodist_img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 138px;
    height: 134px;
    border-radius: 20px;
    border: solid #0e1079 2px;
    border-bottom: none;
    border-top: none;
    border-left: none;
}

.user_card_name {
    width: 158px;
    height: 80px;
    padding: 0px, 10px, 0px, 10px;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    text-align: left;
    margin: 6px 0 0 20px;
}
