@use '~styles/mixins' as *;

.h1 {
	font-family: var(--ff-first);
	font-size: var(--fz-main-heading);
	font-weight: var(--fw-regular);

	@include md() {
		font-size: var(--fz-btn);
	}
}

.h2 {
	font-family: var(--ff-second);
	font-size: var(--fz-btn);
	font-weight: var(--fw-regular);

	@include xs() {
		font-size: 14px;
	}
}

.heading {
	margin-bottom: 45px;
}
