@use '~styles/mixins' as *;

.btn {
	width: 100%;
	max-width: 347px;
	height: 57px;
	font-size: 20px;
	display: flex;
	justify-content: space-between;
	gap: 8px;
	@include sm() {
		font-size: var(--fz-btn-xs);
	}
}
