@use '~styles/mixins' as *;

.wrapper {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-areas:
		'profile info panel'
		'profile exercises exercises'
		'. exercises exercises';
	gap: var(--gap);

	@include xl() {
		grid-template-columns: 1fr 1fr;
		grid-template-areas:
			'profile info'
			'panel exercises';
	}

	@include lg() {
		
	}


	@include md() {
		grid-template-columns: repeat(2, 1fr);
		grid-template-areas:
			'profile info'
			'panel exercises'
			'panel exercises';
	}
}

.profile {
	grid-area: profile;
}

.info {
	grid-area: info;
}

.panel_container {
	grid-area: panel;
	display: flex;
	flex-direction: column;
	gap: var(--gap);
}

.exercises {
	grid-area: exercises;
}

.profile,
.info,
.panel_container,
.exercises {
	width: 100%;
}

.btn {
	@media (max-width: 1400px) {
		font-size: 20px;
	}
}
