.appraisal_form {
	display: flex;
	gap: 20px;
}

.appraisal_form_textarea_container {
	width: 686px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 14px;
	background-color: #E1F1F8;
	border: solid #2A2E92 1.5px;
	border-radius: 20px;
}

.appraisal_form_title {
	font-family: "Roboto";
	font-size: 24px;
	font-weight: 500;
	text-align: center;
}

.appraisal_form_textarea {
	height: 289px;
	padding: 10px;
	resize: none;
	border-radius: 16px;

	font-family: "Rubik";
	font-size: 24px;
	font-weight: 400;

}

.appraisal_form_buttons {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.emoji_container {
	width: 347px;
	height: 220px;
	border: solid #2A2E92 1.5px;
	border-radius: 20px;

}