.check_list_container {
    width: 714px;
    height: 337px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.check_list_header {
    padding: 6px;
    background-color: #a1cbf1;
    border: solid #2b2d91 1px;
    border-radius: 20px;
    font-family: 'Rubik';
    font-size: 24px;
    font-weight: 400;
    line-height: 28.44px;
    text-align: center;
}

.check_list_list {
}

.check_list_item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
    background-color: #dae8f0;
    border: solid #0e1079 1.5px;
    border-radius: 20px;
}

.check_list_item_title {
    font-family: 'Rubik';
    font-size: 24px;
    font-weight: 400;
}

.check_list_item_checkbox {
    width: 36px;
    height: 36px;
}

.imgs_container {
    position: relative;
}

.bunny {
    top: 25px;
    left: 6px;
    z-index: 1;
}

.hedgehog {
    top: 45px;
    left: 100px;
}

.raccoon {
    top: 40px;
    left: 200px;
}

.bunny,
.hedgehog,
.raccoon {
    position: absolute;
}
