@use '~styles/mixins' as *;

.analitic {
	width: 100%;
	max-height: 347px;
	aspect-ratio: 1 / 1;
	background-image: url('~assets/card.background/analitic.svg');
	background-repeat: no-repeat;
	background-position: bottom;

	&:hover {
		background-image: url('~assets/card.background/analitic_hover.svg');
	}

	@include lg() {
		background-size: contain;
	}

	@include md() {
		width: 100%;
	}
}
