@use '~styles/mixins' as *;
.container {
	width: 100%;
	max-width: 714px;
	display: flex;
	flex-direction: column;
	gap: var(--gap);
	.textarea_container {
		padding: 20px 10px 10px 10px;

		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: var(--gap);

		border: var(--border);
		border-radius: var(--radius);
		background-color: #e1f1f8;
		.title {
			@include font(var(--ff-first), 24px, 500);
			text-align: center;
		}
		.textarea {
			@include font(var(--ff-second), 24px, 400);
			height: 100%;
			min-height: 188px;
			padding: 10px;
			border-radius: 16px;
			resize: none;
		}
	}
}
