@use '~styles/mixins' as *;
.wrapper {
	width: 714px;
	max-width: 958px;
	.card {
		width: 100%;
		padding: 20px 30px;
		display: flex;
		justify-content: space-between;
		border: var(--border);
		border-radius: var(--radius);
		background-color: #dae8f0;
		margin-bottom: 15px;
		.info {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			gap: var(--gap);

			.trainer_container,
			.place_container {
				@include font(var(--ff-second), 24px, 400);

				.trainer_title,
				.place_title {
					margin-right: 5px;
					font-weight: 500;
				}
			}
		}
		@include sm() {
			.card {
				max-width: 335px;
				padding: 10px;
				text-align: center;
				flex-direction: column;
				.info {
					gap: 10px;
				}
			}
		}
	}
}

.date {
	@include font(var(--ff-first), 24px, 500);
	@include sm() {
		font-size: 16px;
		margin-top: 8px;
	}
}
