@use '~styles/mixins' as *;

.table {
	width: 100%;
	max-width: 714px;
	height: min-content;
	border: var(--border);
	border-radius: var(--radius);
	@include sm() {
		max-width: 335px;
	}
	.last {
		border-top: none !important;
	}
}
