@use '~styles/mixins' as *;

.table {
	width: 100%;
	max-width: 714px;
	height: min-content;
	border: var(--border);
	border-radius: var(--radius);
}

.calendar {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

@include sm() {
	.table {
		max-width: 335px;
	}
}

.last {
	border-top: none !important;
}
