@use '~styles/mixins' as *;

.container {
	display: grid;
	grid-template-columns: 3fr 1fr;
	grid-template-areas:
		'date btn'
		'exercises card'
		'feedback wrapper';
	gap: var(--gap);
	position: relative;

	@include md() {
		grid-template-columns: 1fr;
		grid-template-areas:
			'btn'
			'card'
			'date'
			'exercises'
			'feedback'
			'wrapper';
	}
}

.date {
	grid-area: date;
	background-color: var(--bg-date-picker);
	border-radius: var(--radius);
	border: var(--border);
}

.btn {
	grid-area: btn;
	position: absolute;
}

.students_card {
	grid-area: card;
	display: flex;
	flex-direction: column;
	gap: var(--gap);

	@include md() {
		margin: 70px auto 0 auto;
	}
}

.exercises {
	grid-area: exercises;
}

.feedback {
	grid-area: feedback;
}

.wrapper {
	grid-area: wrapper;
}

.emoji {
	margin-bottom: 10px;

	@include md() {
		margin-bottom: 20px;
	}
}
