
.general_trainer_main_cont {
   display: flex;
}



.general_trainer_timetable_cont {
    border: 1.5px solid #0E1079;
    border-radius: 20px;
    width: 347px;
    height: 347px;
    margin-bottom: 15px;
    background-color: #E1F1F8;
}
.general_trainer_shedule_head {
    text-align: center;
    font-family: Rubik;
    font-size: 24px;
    font-weight: 400;
}
.general_trainer_progress_image {
    width: 346px;
}
.general_trainer_progress_schedule_cont_route, .general_trainer_analytic_cont_route ,
.general_trainer_timetable_cont_route {
    text-decoration: none;
    color: black;
}
.general_trainer_base_cont {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 20px;
}
.general_trainer_header_base_cont {
    margin-left: 142px;
}
.general_header_cont {
    margin-bottom: 45px;
}
.general_header {
    font-family: Roboto;
    font-size: 48px;
    font-weight: 400;
}
.general_trainer_table_cont {
    width: 347px;
    height: 347px;
    display: flex;
    flex-wrap: wrap;
}
.general_trainer_table_head {
    width: 347px;
    height: 95px;
    border-radius: 20px;
    border: 10px solid #5BA1DF;
    text-align: center;
    font-family: Rubik;
    font-size: 24px;
    font-weight: 400;
    padding-top: 13px;
}
.general_trainer_table_part {
    width: 115px;
    border: 10px solid #5BA1DF;
    padding: 32px;
    border-radius: 20px;
    border: 10px solid #5BA1DF;
}
.general_trainer_notifications_cont {
    width: 714px;
    height: 448px;
    border-radius: 20px;
    border: 1.5px solid #0E1079;
    padding: 31px 30px 31px 30px;
    background-color: #E1F1F8;
    
}
.general_trainer_notification_cont {
    margin-bottom: 12px;
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.general_trainer_not_decor_line {
    width: 100%;
    height: 2px;
    border-radius: 2px;
    background-color: #2B2D91;
    margin-bottom: 40px;
}
.general_trainer_notifications_head {
    text-align: left;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 500;  
    margin-bottom: 64px;  
}
.general_trainer_notification_descr {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    color: inherit;
    text-decoration: none;

}
.general_trainer_notification_btn {
    width: 145px;
    height:54px;
    padding: 15.5px 28px 15.5px 28px;
    border-radius: 20px;
    border: 1px solid #2B2D91;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    color: #2B2D91;
    background-color: white;
}
.general_trainer_notifications_btns_cont {
   text-align: right;
}
.general_trainer_notifications_btns {
    width: 175px;
    height:56px;
    padding: 15.5px 28px 15.5px 28px;
    border-radius: 20px;
    border: 1px solid #2B2D91;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
    color: #2B2D91;
    background-color: white;
}
.general_trainer_timetable_cont {
    padding: 0 15px 0 15px;
}
.general_trainer_timetable_head {
    font-family: Rubik;
    font-size: 26px;
    font-weight: 400;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 29px;
}
.general_trainer_timetable_decor_line {
    width: 100%;
    height: 2px;
    border-radius: 2px;
    background-color: #2B2D91;
    margin-bottom: 20px;
}
.general_trainer_timetable_item {
    margin-bottom: 10px;
    width: 275px;
}
.general_trainer_timetable_item_descr {
    font-family: Roboto;
    font-size: 22px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
}
.gen_timetable_diff_color {
    color: #2B2D91;
}
.general_trainer_timetable_btn {
    padding: 15.5px 28px 15.5px 28px;
    border-radius: 20px;
    border: 1.5px solid #0E1079;
    background-color: inherit;
    display: block;
    font-size: 22px;
    font-weight: 500;
    width: 347px;
    margin-bottom: 20px;
    color: #0E1079;
    font-family: Rubik;
}
.general_trainer_checklist_cont_route {
    text-decoration: none;
}
.general_trainer_checklist_item {
    display: flex;
    justify-content: space-between;
    width:  714px;
    height:  57px;
    padding: 37px 30px 37px 30px;
    background-color: #DAE8F0;
    border: 1.5px solid #0E1079;
    border-radius: 20px;
    margin-bottom: 1px;
    align-items: center;
}
.general_trainer_checklist_head {
    display: flex;
    width:  714px;
    height:  57px;
    padding: 37px 30px 37px 30px;
    background-color: #A1CBF1;
    border: 1.5px solid #0E1079;
    border-radius: 20px;
    margin-bottom: 3px;
    color: black;
    align-items: center;
    justify-content: center;
    font-family: Rubik;
    font-size: 24px;
    font-weight: 400;
}
.general_trainer_checklist_checkbox {
    width: 36px;
    height: 36px;
    outline: 1.5px solid #0E1079;
    border-radius: 10px;
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance: none;
}
.general_trainer_checklist_text {
    font-family: Rubik;
    font-size: 24px;
    font-weight: 400;
    color: black;
}






