@import './app/styles/index.scss';

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
	color: var(--main-color);
}

ul,
li {
	list-style-type: none;
}

body {
	background: var(--dark-gradient) fixed;
}
