
.general_met_main_cont {
   display: flex;
}
.general_met_aside {
    width: 225px;
    height: 299px;
    margin-left: 140px;
}
.general_met_acc_info_cont {
    display: flex;
    margin: 24px 0 24px 0;
}
.general_met_acc_info_descr span {
    display: block;
}
.general_met_acc_prof {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}
.general_met_acc_name {
    font-family: Rubik;
    font-size: 22px;
    font-weight: 400;
}
.general_met_acc_decor_line {
    width: 225px;
    height: 2px;
    border-radius: 2px;
    background-color: #2B2D91;
}
.general_met_acc_img {
    width: 44px;
    height: 44px;
    border-radius: 37px;
    margin-right: 12px;
}
.general_met_nav_options {
    width: 225px;
    height: 24px;
    margin  : 24px 0 24px 0;
    text-transform: uppercase;
    padding-left: 10px;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
    border: none;
    background-color: inherit;
}
.general_met_acc_links a {
    text-decoration: none;
}
.general_met_help_cont  {
    display:flex;
    gap: 12px ;
    margin-bottom: 15px;
}
.general_met_exit_cont {
    display: flex;
    gap: 12px ;

}
.general_met_exit_icon {
    width: 20px;
    height: 20px;
}
.general_met_help_icon {
    width: 20px;
    height: 20px;
}
.general_met_help_link {
    color: #989898;
}
.general_met_exit_link {
    color: #2B2D91;
}
.general_met_acc_links {
    margin  : 24px 0 24px 0;
    padding-left: 10px;
}
.general_met_analitic_cont {
    width: 347px;
    padding: 18px, 1px, 18px, 1px;
    border: 1.5px solid #0E1079;
    border-radius: 20px;
}
.general_met_analitic_head {
    text-align: center;
    font-family: Rubik;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 142px;
}
.general_met_progress_schedule_cont {
    width: 347px;
    padding: 18px, 1px, 18px, 1px;
    border: 1.5px solid #0E1079;
    border-radius: 20px;
}
.general_met_progress_shedule_head {
    text-align: center;
    font-family: Rubik;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 142px;
}
.general_met_progress_image {
    width: 346px;
}
.general_met_base_cont {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 20px;
}
.general_met_header_base_cont {
    margin-left: 142px;
}
.general_header_cont {
    margin-bottom: 45px;
}
.general_header {
    font-family: Roboto;
    font-size: 48px;
    font-weight: 400;
}
.general_met_table_cont {
    width: 347px;
    height: 347px;
    border-radius: 20px;
    border: 1.5px;
    display: flex;
    flex-wrap: wrap;
    border: 1.5px solid #0E1079;
    border-radius: 20px;
    
}
.general_met_table_head {
    width: 343px;
    height: 95px;
    border-radius: 20px;
    border: 10px solid #5BA1DF;
    text-align: center;
    font-family: Rubik;
    font-size: 24px;
    font-weight: 400;
}
.general_met_table_part {
    border: 10px solid #5BA1DF;
    width: 115.67px;
    height: 84px;
    padding: 40px;
    border-radius: 20px;
}
.general_met_notifications_cont {
    width: 714px;
    height: 448px;
    border-radius: 20px;
    border: 1.5px solid #0E1079;
}
.general_met_notifications_head {
    text-align: center;
    font-family: Rubik;
    font-size: 24px;
    font-weight: 400;
}
.general_met_schedule_chapter {
    border: 1.5px solid #0E1079;
    border-radius: 20px;
    width: 347px;
    height: 379px;
}
.general_met_shedule_head {
    text-align: center;
    font-family: Rubik;
    font-size: 24px;
    font-weight: 400;
}