* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: "Roboto";
    src: url(../../fonts/Roboto-Medium.ttf);
}

@font-face {
    font-family: "Rubik";
    src: url(../../fonts/Rubik-VariableFont_wght.ttf);
}
.reg_main_container, .login_main_container, 
.reg_stud_main_container  {
    display: flex;
    flex-direction: column;
    max-width: 470px;
    margin: auto;
}
.confident_main_container {
    max-width: 958px;
    margin: auto;
}
.confident_main_container .confident_main_container_header {
    margin-bottom: 624px;
   
}
.login_main_container_header, .reg_main_container_header, 
.confident_main_container_header, .reg_stud_main_container_header {
    font-family: Roboto;
    font-size: 40px;
    font-weight: 400;
    line-height: 47px;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom: 42px;
}
.login_form, .reg_form, .reg_stud_form {
    display: flex;
    flex-direction: column;
    color: #2B2D91;
    font-family: Rubik;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
   
}
.confident_form {
    max-width: 470px;
    margin: auto;
}
.confident_data_treatment_cont, .confident_politic_cont {
    display: flex;
    margin-bottom: 24px;
}
.confident_politic_checkbox, .confident_data_treatment_checkbox {
    width: 28px;
    height: 28px;
    border-radius: 5px;
    border: 1px solid black;
    margin-right: 11px;
   
    
}
.confident_btn {
    width:  224px;
    height:  53px;
    padding: 15.5px, 28px, 15.5px, 28px;
    border-radius: 20px;
    background-color: #2B2D91;
    color: white;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: center;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
   
}
.confident_btn_cont {
    text-align: center;
}
.confident_politic_descr, .confident_data_treatment_descr {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: center;
    color: black;
}
.reg_stud_form input, .login_form input, 
.reg_form input, .reg_stud_form select, .login_form select,
.reg_form select {
    padding: 12px 0px 12px 8px;
    border-radius: 10px;
    border: 1.5px solid #0E1079;
    width: 470px;
    background-color: white;

}
.reg_stud_form  label, .login_form label, 
.reg_form label   {
    margin-bottom: 20px;
}
.reg_stud_form  label p, .login_form label p, 
.reg_form label p   {
    margin-bottom: 4px;
}
.reg_fullname_input {
   width: 433px;
}
.login_froget_pass_cont {
    text-align: end;
    margin-bottom: 28px;
}
.login_forget_pass {
    color: inherit;
}
.login_confidence_politic_cont, .reg_confidence_politic_cont,
.reg_stud_confidence_politic_cont {
    display: flex;
    margin-bottom: 36px;
}
label .login_confidence_politic_checkbox, label .reg_confidence_politic_checkbox, 
label .reg_stud_confidence_politic_checkbox {
    width: 38px;
    height: 24px;
    border: 1px black solid;
    border-radius: 5px;
    margin-right: 21px;
}

.login_confidence_politic_link, .reg_stud_confidence_politic_link, .reg_confidence_politic_link {
    color: inherit;
    font-weight: 500;
}

.login_acc_registr_link_cont {
    margin-bottom: 20px;
}
.login_acc_registr_link {
    color: inherit;
    display: block;
    text-align: center;
}
.login_acc_registr_btn_cont, .reg_acc_registr_btn_cont, 
.reg_stud_acc_registr_btn_cont {
    margin: auto;
    text-align: center;
}
.login_acc_registr_btn, .reg_acc_registr_btn, .reg_stud_acc_registr_btn {
    font-family: Rubik;
    font-size: 18px;
    display: block;
    width: 470px;
    height: 53px;
    padding: 15.5px 28px 15.5px 28px;
    border-radius: 20px;
    border:solid #2B2D91 1.5px;
    background-color: #2B2D91;
    color: white;
    text-decoration: none;
}
.login_acc_registr_btn {
    width: 224px;
}
.login_enter_btn_cont {
    margin-bottom: 36px;
    text-align: center;
}
.login_enter_btn {
    display: inline-block;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    width: 470px;
    height: 53px;
    padding: 15.5px 28px 15.5px 28px;
    border-radius: 20px;
    border: solid #2B2D91 2px;
    color: inherit;
    background-color: inherit;
}

/*реализация просмотра пароля*/
.login_password_input_cont, .reg_password_input_cont {
    position: relative;
}
.login_password_control, .reg_password_control {
	position: absolute;
	top: 30px;
	right: 15px;
	display: inline-block;
	width: 25px;
	height: 25px;
    background: url(../../svg/eye_icon.svg) 0 0 no-repeat;
}