
.checklist_main_cont {
    display: flex;

}
.checklist_base_cont {
     display: flex;
     gap: 20px 20px;
     flex-wrap: wrap;
}
 

.checklist_avatar {
     background-repeat: no-repeat;
     background-size: cover;
     background-image: url('../../assets/img/methodist_img.jpg');
     height: 347px;
     width: 347px;
     border-radius: 20px;
     border: 1.5px solid #000000;
}
.checklicst_levels_cont {
     width: 714px;
     height: 347px;
     border-radius: 20px;
     border: 1.5px solid #0E1079;
     background: #E1F1F8;
     padding: 30px 30px 23px 30px;
 
     font-size: 24px;
     font-weight: 500;
     text-align: left;
}
.checklicst_levels_cont .checklicst_area_descpition {
     font-weight: 100;
}
.checklicst_area {
     margin-bottom: 26px;
}
.checklicst_student {
     margin-bottom: 14px;
}
.checklicst_choose_panel {
     display: flex;
     flex-direction: column;
}
.checklicst_fullname {
     border: 1.5px solid #0E1079;
     background: #E1F1F8;
     width: 345px;
     height: 57px;
     padding: 6px 10px 5px 10px;
     border-radius: 20px;
     font-family: Roboto;
     font-size: 20px;
     font-weight: 500;
     text-align: center;
     margin-bottom: 20px;
}
.checklicst_choose_student, .checklicst_choose_group,
 .checklicst_choose_level {
     width:  346px;
     height:  57px;
     padding: 10px 20px 10px 20px;
     border-radius: 20px;
     margin-bottom: 20px;
     background: #A1CBF1;
     border: 1.5px solid #0E1079;
     font-family: Rubik;
     font-size: 24px;
     font-weight: 400;
     text-align: center;
}
.checklicst_send_checklist {
     width: 347px;
     height: 57px;
     padding: 12px 28px 0px 28px;
     border-radius: 20px;
     border: 1px solid #2B2D91;
     font-family: Rubik;
     font-size: 24px;
     font-weight: 500;
     text-align: center;
     color: #0E1079;
}
.checklist_exercises_cont {
     width: 714px;
     height: 365px;
     border-radius: 20px;
     border: 1.5px solid #0E1079;
     background: #E1F1F8;
     overflow: hidden;
 
}
.checklist_exercises_head {
     background: #A1CBF1;
     border-color: #0E1079;
     height: 54px;
     border-radius: 20px;
     border-color: #0E1079;
     border: 1.5px solid #0E1079;
     border-top: 0px;
     font-size: 24px;
     font-weight: 400;
     text-align: center;
     padding-top: 7px;
     margin-bottom: 2px;
}
.checklist_exercise_cont {
     width: 714px;
     height: 87px;
     border-radius: 20px;
     background: #E1F1F8;
     border: 1px solid #0E1079;
     margin-bottom: 7px;
}