.input_container {
	width: 714px;
	height: 57px;
	padding: 0 30px;

	display: flex;
	align-items: center;
	justify-content: space-between;

	border: var(--border);
	border-radius: var(--radius);

	background: #dae8f0;

	.input {
		&_text {
			height: 36px;

			font-family: Roboto;
			font-size: 24px;
			font-weight: 500;

			background-color: inherit;
			border: none;
			outline: none;
		}
		&_checkbox {
			width: 36px;
			height: 36px;

			border: var(--border);
			border-radius: 6px;

			// -moz-appearance: none;
			// -webkit-appearance: none;
		}
	}
}
