.notifications_main_cont {
	display: flex;
}
.notifications_base_cont {
	display: flex;
	gap: 20px 20px;
	flex-wrap: wrap;
	margin-right: 140px;
}

.notifications_cont {
	width: 714px;
	padding: 31px 30px 0px 30px;
	background-color: #e1f1f8;
	border: 1.5px solid #2b2d91;
	border-radius: 20px;
}
.notifications_header {
	font-family: Roboto;
	font-size: 24px;
	font-weight: 500;
	text-align: left;
	margin-bottom: 62px;
}
.notifications_item {
	display: flex;
	border-bottom: solid #0e1079 1px;
	justify-content: space-between;
	padding-bottom: 13px;
	margin-bottom: 62px;
}
.notifications_item:last-child {
	margin-bottom: 0px;
	border-bottom: none;
}
.notifications_description {
	font-family: Roboto;
	font-size: 20px;
	font-weight: 400;
	text-align: left;
}
.notifications_open_link {
	padding: 15.5px 28px 15.5px 28px;
	border-radius: 20px;
	border: 1px solid #2b2d91;
	background-color: white;
	font-family: Roboto;
	font-size: 20px;
	font-weight: 500;
	text-decoration: none;
	color: #2b2d91;
}
