

.student_base_cont {
    display: flex;
    gap: 20px 20px;
    flex-wrap: wrap;
}
 
.student {
    margin-bottom: 27px;
}
.additional_header {
    font-weight: 600;
}
.student_avatar {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../../assets/img/methodist_img.jpg');
    width: 347px;
    height: 438px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 1px solid var(--border-border-primary, #0E1079)
}
.student_description_cont {
    width: 714px;
    height: 398px;
    border-radius: 20px;
    border: 1.5px solid #0E1079;
    background: #E1F1F8;
    padding: 30px 30px 23px 30px;
    font-size: 24px;
    font-weight: 500;
    text-align: left;
}

.student_fullname {
    border: 1px solid #0E1079;
    background: #E1F1F8;
    width: 714px;
    height: 57px;
    padding: 6px 10px 5px 10px;
    border-radius: 20px;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
    padding-top: 10px;
}

.student_btn {
    width: 347px;
    margin-bottom: 20px;
}

