@use '../../app/styles/mixins.scss' as *;

.additional_header {
	font-weight: 600;
}
.student_avatar {
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url('../../assets/img/methodist_img.jpg');
	width: 347px;
	height: 438px;
	margin-bottom: 20px;
	border-radius: 10px;
	border: 1px solid var(--border-border-primary, #0e1079);
}
.student_description_cont {
	display: flex;
	flex-direction: column;
	gap: var(--gap);
	min-height: 398px;
	padding: 30px 10px;
	border-radius: var(--radius);
	border: var(--border);
	background: var(--bg-card);
	font-size: var(--fz-btn);
	font-weight: var(--fw-medium);
}

.student_fullname {
	@include font(var(--ff-first), 24px, 500);
	border: var(--border);
	background: #e1f1f8;
	width: 714px;
	height: 57px;
	padding: 6px 10px 5px 10px;
	border-radius: 20px;
	margin-bottom: 20px;
	padding-top: 10px;
}

.student_btns_panel {
	display: flex;
	flex-direction: column;
	gap: var(--gap);
}
