.container {
	position: relative;
}
.input {
	width: 714px;
	height: 57px;
	padding: 6px 30px;
	border-radius: var(--radius);
	border: var(--border);

	font-size: 22px;
	font-weight: 400;

	outline: none;
}
.search_icon {
	width: 26px;
	height: 26px;

	position: absolute;
	top: 15px;
	right: 25px;

	background-image: url('@assets/svg/search.svg');
}
