.stident_list_search_cont {
    position: relative;
}
.student_list_search {
    width: 714px;
    height: 57px;
    padding: 6px 10px 6px 10px;
    border-radius: 20px;
    border: 1px solid var(--border-border-primary, #0E1079);
    color: var(--color-accent-800, #989898);
    font-size: 22px;
    font-weight: 400;
    text-align: left;
}
.student_list_search_icon {
    position: absolute;
    top: 15px;
    right: 25px;
    width: 26px;
    height: 26px;
    background-image: url('../../assets/svg/search.svg');
    background-repeat: no-repeat;
}