.qroup_item {
	width: 714px;
	height: 57px;
	background: var(--color-dMfQk, #a1cbf1);
	border-radius: 20px;
	border: 1.5px solid var(--border-border-primary, #0e1079);
	margin-bottom: 20px;
	font-family: Roboto;
	font-size: 24px;
	font-weight: 500;
	line-height: 28.13px;
	text-align: center;
	padding-top: 10px;
}
