@use '~styles/mixins' as *;

.reward_card {
	background-image: url('~assets/gifs/smile-with-eyes.gif');
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: 50%;
	background-position-y: 80%;
	grid-area: reward;
	@include sm() {
		width: 100%;
		background-image: none;
	}
}

.train_card {
	grid-area: train;
	overflow: hidden;
	height: 100%;
	min-height: 238px;
	// aspect-ratio: 1;
	@include sm() {
		width: 100%;
		min-height: auto;
	}

	.train_text_container {
		width: 100%;
		height: 100%;
		display: flex;

		.train_text {
			@include font(var(--ff-first), 24px, 500);
			text-align: center;
			margin-top: auto;
		}
	}
}

.schedule_card {
	grid-area: schedule;

	@include sm() {
		width: 100%;
	}
}

.feedback {
	grid-area: feedback;
}
.btn {
	grid-area: btn;
	@include sm() {
		width: 100%;
		color: black;
	}
}

.wrapper {
	display: grid;
	gap: var(--gap);
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-areas:
		'reward train schedule'
		'feedback feedback schedule'
		'btn btn .';

	@include lg() {
		grid-template-columns: 50% 50%;
		grid-template-areas:
			'reward train'
			'schedule schedule'
			'feedback feedback'
			'btn btn';
		gap: 8px;
	}

	@include sm() {
		grid-template-columns: 50% 50%;
		grid-template-areas:
			'reward schedule'
			'train btn';
		gap: 8px;
	}
}
