@use '~styles/mixins' as *;

.wrapper {
	display: grid;
	gap: var(--gap);
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-areas:
		'reward train schedule'
		'feedback feedback schedule'
		'btn btn schedule';

	@include xl() {
		grid-template-columns: 50% 50%;
		grid-template-areas:
			'reward train'
			'schedule schedule'
			'feedback feedback'
			'btn btn';
		gap: 8px;
	}

	@include sm() {
		grid-template-columns: 50% 50%;
		grid-template-areas:
			'reward schedule'
			'train btn';
		gap: 8px;
		align-items: center;
	}
}

.reward_card {
	background-image: url('./assets/fux.svg');
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: auto 70%;
	background-position-y: 80%;
	grid-area: reward;


	@include sm() {
		background-size: auto 50%;
	// 	background-image: none;
	// 	display: grid;
	// 	place-content: center;
	}
}

.train_card {
	grid-area: train;
	overflow: hidden;
	height: 100%;
	min-height: 238px;
	// aspect-ratio: 1;

	@include md() {
		min-height: 180px;
	}

	
	@include sm() {
		width: 100%;
		min-height: 120px;
		display: grid;
		place-content: center;
	}

	.train_text_container {
		width: 100%;
		height: 100%;
		display: flex;

		.train_text {
			@include font(var(--ff-first), 24px, 500);
			text-align: center;
			margin-top: auto;
			
			@include md() {
				font-size: 20px;
			}
		}
	}
}

.schedule_card {
	padding: 20px;
	grid-area: schedule;

	// h2 {
	// 	margin-bottom: 50px;

	// 	@include md() {
	// 		margin-bottom: 20px;
	// 	}
	// }

	@include sm() {
		width: 100%;
		display: grid;
		place-content: center;
	}
}

.feedback {
	grid-area: feedback;
}

.btn {
	grid-area: btn;

	@include sm() {
		width: 100%;
		display: grid;
		place-content: center;
	}
}
