.list {
	display: flex;
	flex-direction: column;
	padding: 25px 50px;
	gap: 20px;
	li {
		list-style: disc;
	}
}
.comment {
	justify-content: center;
	cursor: pointer;
}

.buttons {
	display: flex;
	flex-direction: column;
	gap: 20px;
}
