.analytic_specific_met_base_cont {
    display: flex;
    gap: 20px 20px;
    flex-wrap: wrap;
    margin-right: 140px;
}

.analytic_specific_met_show_link {
    position: absolute;
    width: 87px;
    height: 28px;
    top: 96px;
    left: 240px;
    padding: 3px 0px 2px 0px;
    opacity: 0.5;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
}

.analytic_specific_met_trainer_comment {
    width: 347px;
    height: 134px;
    padding: 0px 63px 0px 68px;
    border-radius: 20px;
    border: 1.5px solid #0E1079;
    background: #E1F1F8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.trainer_comment {
    display: block;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
}

.analytic_specific_met_btns_cont {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.analytic_specific_met_btn {
    text-decoration: none;
    color: #0E1079;
    border: 1.5px solid #2B2D91;
    width: 347px;
    height: 57px;
    padding: 9px 15px 8px 22px;
    border-radius: 20px;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}

.analytic_specific_met_btn_calendar {
    gap: 68px;
}

.analytic_specific_met_date {}

.analytic_specific_met_icon {
    width: 40px;
    height: 40px;
}

.analytic_specific_met_btn {}