.calendar {
  border: solid 1.5px #0e1079;
  border-radius: 20px;
  width: 1082px;
}

.make_timetable_met_calendar_head {
  display: flex;
  gap: 430px;
  padding: 8px 20px 8px 20px;
  border-bottom: solid 1.5px #0e1079;
}

.make_timetable_met_calendar_current_date {
  font-family: Roboto;
  font-size: 22px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
}

.make_timetable_met_calendar_week_days_name_cont {
  display: flex;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
}

.make_timetable_met_calendar_month_days_cont {
  display: flex;
  flex-wrap: wrap;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
}

.make_timetable_met_calendar_month_day {
  width: 154px;
  height: 154px;
  background-color: white;
  padding: 12px;
  border-right: solid 1.5px #0e1079;
  border-bottom: solid 1.5px #0e1079;
}

.make_timetable_met_calendar_week_day_name {
  width: 154px;
  background-color: white;
  border-bottom: solid 1.5px #0e1079;
  border-right: solid 1.5px #0e1079;
  padding: 12px;
}

.make_timetable_met_calendar_week_day_name:last-child {
  border-right: none;
}

.make_timetable_met_calendar_month_day:nth-child(7n) {
  border-right: none;
}

div .make_timetable_met_calendar_month_day:nth-child(14n) {
  border-radius: 0px 0px 20px 0px;
}

.make_timetable_met_calendar_month_day:nth-child(n + 8) {
  border-bottom: none;
  border-radius: 0 0 0 20px;
}

.make_timetable_met_btns_cont {
  min-width: 1082px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.choose-btn {
  background-color: #a1cbf1;
  width: 347px;
  height: 57px;
  border-radius: 20px;
  border: 1.5px solid #0e1079;
  font-family: Rubik;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  padding: 10px 20px 10px 20px;
}

.btns-wrap {
  display: flex;
  align-items: center;
  gap: 20px;
}
