.feedback_met_main_cont {
    display: flex;
}

.feedback_met_base_cont {
    display: flex;
    gap: 20px 20px;
    flex-wrap: wrap;
    margin-right: 140px;
}

.feedback_met_header_base_cont {
    margin-left: 142px;
}

.feedback_commentary_area_cont {
    width: 1081px;
    height: 330px;
    padding: 10px;
    border-radius: 20px;
    border: solid #2b2d91 1px;
    margin-bottom: 20px;
}

.feedback_comment_header {
    font-family: Rubik;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom: 20px;
}

.feedback_commentary_place {
    width: 1061px;
    height: 262px;
    padding: 30px 10px 30px 10px;
    border-radius: 16px;
    border: solid #2b2d91 1px;
    background-color: white;
    font-family: Rubik;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
}

.feedback_commentary_send_btn_cont {
    width: 1081px;
    text-align: right;
}

.feedback_commentary_send_btn {
    width: 347px;
    height: 57px;
    padding: 15.5px 28px 15.5px 28px;
    border-radius: 20px;
    border: solid #2b2d91 1.5px;
    font-size: 18px;
    font-weight: 500;
}
