.component {
	width: 714px;
	padding: 30px 30px 16px;
	background-color: var(--bg-card);
	border: var(--border);
	border-radius: var(--radius);
}

.heading {
	margin-bottom: 62px;
	font-family: var(--ff-first);
	font-size: var(--fz-btn);
	font-weight: var(--fw-medium);
}

.item {
	margin-bottom: 62px;
	padding-bottom: 13px;
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid var(--accent-color);

	&:last-child {
		margin-bottom: 0px;
	}
}

.desc {
	font-family: var(--ff-second);
	font-size: 22px;
}

.btn {
	background-color: #fff;
}
