.shedule_progress_met_main_cont {
    display: flex;
}

.shedule_progress_met_base_cont {
    display: flex;
    gap: 20px 20px;
    flex-wrap: wrap;
    margin-right: 140px;
}

.shedule_progress_met_header_base_cont {
    margin-left: 142px;
}

.shedule_progress_met_part {
    display: flex;
    width: 347px;
    height: 138px;
    padding: 10px, 20px, 10px, 20px;
    border-radius: 20px;
    border: 2px solid #0E1079;
    background-color: #E1F1F8;
    position: relative;
    margin-bottom: 14px;
}

.shedule_progress_met_photo {
    background-image: url(../../assets/img/methodist_img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 138px;
    height: 134px;
    border-radius: 20px;
    border: solid #0E1079 2px;
    border-bottom: none;
    border-top: none;
    border-left: none;
}

.shedule_progress_met_descr {
    width: 158px;
    height: 80px;
    padding: 0px, 10px, 0px, 10px;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    text-align: left;
    margin: 6px 0 0 20px;

}

.shedule_progress_met_show_link {
    position: absolute;
    width: 87px;
    height: 28px;
    top: 96px;
    left: 240px;
    padding: 3px 0px 2px 0px;
    opacity: 0.5;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
}

.shedule_progress_met_btns_cont {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.shedule_progress_met_btn {
    text-decoration: none;
    color: #0E1079;
    border: 1.5px solid #2B2D91;
    width: 347px;
    height: 57px;
    padding: 9px 15px 8px 22px;
    border-radius: 20px;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shedule_progress_met_btn_calendar {
    gap: 68px;
}

.shedule_progress_met_icon {
    width: 40px;
    height: 40px;
}