@use '~styles/mixins' as *;

.container {
	width: 100%;
	display: grid;
	grid-template-columns: 2fr 1fr;
	gap: var(--gap);
	grid-template-areas: 'date reward' 'list reward';

	@include lg() {
		grid-template-columns: 1fr 1fr;
		grid-template-areas:
			'date date'
			'reward list'
			'mood mood'
			'feedback feedback';
	}
	@include sm() {
		grid-template-columns: 1fr;
		grid-template-areas: 'reward' 'date' ' list' 'mood' 'feedback';
	}
}

.date {
	grid-area: date;
	width: 100%;
	background-color: var(--bg-date-picker);
	border-radius: var(--radius);
	border: var(--border);
}

.list {
	grid-area: list;
	display: flex;
	flex-direction: column;
	gap: 5px;

	@include md() {
		margin-top: 0;
	}
}

.title {
	margin-bottom: 12px;
	padding: var(--btn-padding) var(--gap);
	font: var(--fw-medium) var(--fz-btn) var(--ff-first);
	text-align: center;
	background-color: var(--bg-date-picker);
	border: var(--border);
	border-radius: var(--radius-btn);
}

.icon_wrapper {
	width: 100%;
	grid-area: mood;
	margin-bottom: 48px;
	display: flex;
	gap: var(--gap);

	@include sm() {
		flex-wrap: wrap;
	}
}

.icon {
	padding: var(--btn-padding);
	background-color: var(--btn-bg-color);
	border: var(--border);
	border-radius: var(--radius);
	cursor: pointer;
}

.feedback {
	grid-area: feedback;
}

.reward_wrapper {
	grid-area: reward;
	height: 347px;
	display: grid;
	place-content: center;
	background-color: var(--btn-bg-color);
	border: var(--border);
	border-radius: var(--radius);

	@include md() {
		height: 195px;
	}

	span {
		font: var(--fw-medium) var(--fz-btn) var(--ff-first);
	}
}
