@use '~styles/mixins' as *;

.container {
	width: 100%;
	display: grid;
	grid-template-columns: 2fr 1fr;
	gap: var(--gap);
	grid-template-areas:
		'date reward'
		'list reward'
		'feedback .'
		'mood .';

	@include lg() {
		grid-template-columns: 50% 50%;
		grid-template-areas:
			'date date'
			'reward list'
			'feedback feedback'
			'mood mood';
	}
	@include sm() {
		grid-template-columns: 1fr;
		grid-template-areas:
			'reward'
			'date'
			'list'
			'feedback'
			'mood';
	}
}

.date {
	grid-area: date;
	width: 100%;
	background-color: var(--bg-date-picker);
	border-radius: var(--radius);
	border: var(--border);
}

.list {
	grid-area: list;
	display: flex;
	flex-direction: column;
	gap: 5px;

	@include md() {
		margin-top: 0;
	}
}

.title {
	margin-bottom: 12px;
	padding: var(--btn-padding) var(--gap);
	font: var(--fw-medium) var(--fz-btn) var(--ff-first);
	text-align: center;
	background-color: var(--bg-date-picker);
	border: var(--border);
	border-radius: var(--radius-btn);
}

.mood_wrapper {
	grid-area: mood;
	margin-top: 48px;
}

.icon_wrapper {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	justify-content: space-between;
	gap: var(--gap);

	@include sm() {
		grid-template-columns: repeat(3, 1fr);
		gap: 10px;
	}
}

.icon {
	opacity: 0.4;
	height: 102px;
	display: grid;
	place-content: center;
	padding: var(--btn-padding);
	// background-color: var(--btn-bg-color);
	background-color: var(--bg-date-picker);
	border: var(--border);
	border-radius: var(--radius);
	cursor: pointer;
	transition: all 0.2s ease-in-out;

	&:hover {
		opacity: 1;

		.img {
			transform: scale(1.3);
		}
	}

	@include sm() {
		padding: 5px;
	}
}

.img {
	width: 54px;
	transition: all 0.3s ease-in-out;
}

.active {
	opacity: 1;

	.img {
		width: 74px;
	}
}

.feedback {
	grid-area: feedback;
}

.reward_wrapper {
	grid-area: reward;
	height: 347px;
	display: grid;
	place-content: center;
	background-color: var(--btn-bg-color);
	border: var(--border);
	border-radius: var(--radius);

	@include md() {
		height: 195px;
	}

	span {
		font: var(--fw-medium) var(--fz-btn) var(--ff-first);
	}
}
