@use '~styles/mixins' as *;

.date {
	grid-area: date;
	width: 100%;
	background-color: var(--bg-date-picker);
	border-radius: var(--radius);
	border: var(--border);
}

.list {
	grid-area: list;
	display: flex;
	flex-direction: column;
	gap: 5px;

	@include md() {
		margin-top: 0;
	}
}

.reward_wrapper {
	grid-area: reward;
	height: 347px;
	display: grid;
	place-content: center;
	background-color: var(--btn-bg-color);
	border: var(--border);
	border-radius: var(--radius);

	@include md() {
		height: 195px;
	}

	span {
		font: var(--fw-medium) var(--fz-btn) var(--ff-first);
	}
}

.container {
	width: 100%;
	display: grid;
	grid-template-columns: 2fr 1fr;
	gap: var(--gap);
	grid-template-areas: 'date reward' 'list reward';

	@include lg() {
		grid-template-columns: 1fr 1fr;
		grid-template-areas: 'date date' 'reward list';
	}
	@include sm() {
		grid-template-columns: 1fr;
		grid-template-areas: 'reward' 'date' ' list';
	}
}
