@use '~styles/mixins' as *;

.evaluation {
	width: 100%;
	max-height: 347px;
	aspect-ratio: 1 / 1;
	background-image: url('~assets/card.background/table.svg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
