@use '~styles/mixins' as *;

.schedule_container {
	width: 100%;
	height: 100%;
	padding-top: 40%;
	display: flex;
	flex-direction: column;
	gap: var(--gap);
	overflow: hidden;

	.schedule_item {
		@include font(var(--ff-second), 22px, 400);

		.schedule_item_time {
			@include font(var(--ff-first), 24px, 500);
		}
	}
	@include sm {
		background-position-y: 85%;
	}
}