.container {
	width: 100%;
	max-width: 491px;
	display: flex;
	align-self: start;
}
.student_name {
	width: 100%;
	font-family: Rubik;
	font-size: 15px;
	display: flex;
	align-items: center;
}

.checkbox_container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 5px;
	.checkbox {
		width: 30px;
		height: 30px;
		border: var(--border);
		border-radius: 6px;
		// -moz-appearance: none;
		// -webkit-appearance: none;
	}
	&::before,
	&::after {
		content: '';
		display: block;
		width: 1px;
		height: 20px;
		background-color: #989898;
	}
}
