.second_title {
	text-align: center;
	margin-bottom: 20px;
}

.feedback_wrap {
	width: 1080px;
	padding: 10px;
	border-radius: var(--radius);
	border: var(--border);
}

.textaria {
	width: 100%;
	height: 262px;
	padding: 30px 10px;
	border-radius: 16px;
	border: 1px solid var(--accent-color);
	background-color: white;
	font-family: var(--ff-second);
	font-size: var(--fz-btn);
	font-weight: var(--fw-regular);
	resize: none;
	outline: none;
}

.send_btn {
	margin-left: auto;
}
