@use '~styles/mixins' as *;

.body {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	gap: 20px;

	@include xl() {
		justify-content: center;
	}

	@include md() {
		padding-left: 20px;
	}

	@include sm() {
		padding-left: 10px;
	}
}
