.header {
	margin-bottom: 45px;
	&_title {
		font-family: 'Roboto';
		font-size: 48px;
		font-weight: 400;
	}
}

.body {
	width: 100%;
	max-width: 1081px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 20px;
	
}
