@use '~styles/mixins' as *;

.header {
	padding: 20px 0;
	display: flex;
	justify-content: flex-end;
	align-items: center;

	&[data-check-in='false'] {
		@include md() {
			display: none;
		}
	}
	.logo {
		display: flex;
	
		&::after {
			content: url('~assets/header/logo_title.svg');
			margin-left: 10px;
			display: flex;
			flex-wrap: nowrap;
			margin-top: auto;
		}
		@include sm() {
			&::after {
				display: none;
			}
		}
	}
}

.title_wrapper {
	margin-left: 300px;
	width: 100%;



	.title {
		font-family: 'Roboto';
		font-size: 48px;
		font-weight: 400;
		@include md() {
			display: inline-block;
			margin: auto;
			text-align: center;
			padding-left: 38px;
			font-size: 32px;
			font-weight: 500;
		}
		@include sm() {
			padding: 0;
			font-size: 24px;
		}
	}

	@include md() {
		margin-bottom: 22px;
		padding: 10px;
		display: flex;
		align-items: center;
		gap: 10px 7px;
		justify-content: space-between;
		&::after {
			content: url('~assets/header/logo.svg');
		}
	}
}
